.header {
    margin-bottom: 30px !important;
    background-color: white !important;
    padding: 0 22px 0 0 !important;
    border-radius: 6px !important;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07) !important;
}

.header .header__navLink{
    padding: 0 ;
}
.headerLink {
    font-weight: 500;
    color: darkslategray !important;
}

.headerLink:hover {
    color: var(--component-color) !important;
}

.headerLink__active {
    font-weight: 500;
    color: var(--component-color) !important;
}

.header .header__home {
    background-color: var(--component-color);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.header__left {
    margin-right: auto;
    display: flex !important;
    align-items: center !important;
}

.nav__items {
    display: flex !important;
    justify-content: center  !important;
}
.header__right{
    display: flex !important;
    align-items: center !important;
}

.header__right .social_icons > a > .MuiSvgIcon-root {
    font-size: 16px;
    margin-right: 12px;
    color: black;
}

@media(max-width: 990px){
    .social_icons{
        display: none;
    }
}
.header__right > span > a {
    text-decoration: none;
}
